{# templates/author/submit_request.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Podání žádosti</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .btn{
            background-color: #BE0000;
            color: white;
            border-color: #BE0000;
        }
        .btn:hover{
            background-color: #BE0000;
            color: white;
            border-color: #BE0000;
        }

        .card{
            border-color: #DE7D7D;
            border-radius: 45px;
        }

        .formular{
            background-color: #DE7D7D;
            color: white;
            border-radius: 25px;
            padding: 15px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1>Podání žádosti o zveřejnění článku</h1>


    <form method="post" action="{{ path('formular_zadosti') }}" enctype="multipart/form-data" class="formular">
        <div class="form-group">
            <label for="articleTitle"><b>Název článku:</b></label>
            <input type="text" class="form-control" id="articleTitle" name="articleTitle" required>
        </div>

        <div class="form-group">
            <label for="articleContent"> <b> Obsah článku:</b></label>
            <textarea class="form-control" id="articleContent" name="articleContent" rows="5" required></textarea>
        </div>

        <div class="form-group">
            <label for="articleFile"> <b> Přiložit soubor (např. PDF): </b></label>
            <input type="file" class="form-control-file" id="articleFile" name="articleFile" accept=".pdf">
        </div>

        <button type="submit" class="btn btn-primary">Odeslat žádost</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
