//@import "~bootstrap/scss/bootstrap";

:root{
    --clr-red:hsl(12, 100%, 40%);
    --clr-red-soft:hsl(12, 63%, 72%);
    /*--clr-accent-400:hsl(12,88%,59%);
    --clr-accent-400:hsl(12,88%,59%);*/

    --ff-primary: "Sofia", sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);
}
/*remove default margin*/
*{
    margin: 0;
    padding: 0;
    //font:inherit;
    color:rgb(74, 85, 14);
}

html, body{
    height: 100%;
}

html:focus-within{
    scroll-behavior: smooth;

}

.bg-red {
    background-color: var(--clr-red);
  }

.bg-red-soft{
    background-color: var(--clr-red-soft);
}

.bg-red-soft:hover {
    background-color: var(--clr-red);
}

.btn .btn-primary{
    border:none !important;
}

.footer-background {
    margin-top: 0;
    /*background-color: transparent;*/
    background-color: var(--clr-red);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: end;
  }
.footer-background p{
    padding: 10px;
    margin: 0;
    color: white;
}

.white{
    color:white !important;
    border:none !important;
}

//.white:hover{
//    background-color: hsl(12, 69%, 53%) !important;
//}

.kontejner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.clanek{
    min-height: 300px;
    min-width: 300px;
    border-radius: 25%;
    background-color: var(--clr-red-soft);
    flex-basis: 20%;
}

.clanekNadpis{
    text-align: center;
}

.clanekInfo{
    text-align: center;
}

.login{
    min-height: 80vh;
    border-radius: 25px;
    background-color: var(--clr-red);
}

.inputLogin{
    height: 50px;
    border-radius: 25px;
    width: 90%;
}

.headingLogin{
    background-color: white;
    color:var(--clr-red);
    border-radius: 250px;
}

.form-group { 
    text-align: center; 
}

.rad-25{
    border-radius: 25px;
}

.card-header{
    border-radius: calc(1.25rem - 1px) calc(1.25rem - 1px) 0 0!important;
}

.back{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.back:hover{
    background-color:rgb(255, 160, 160);
    transition: all 0.5s ease;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transform: scale(1.1);
    
}



