:root{
    --clr-red:hsl(12, 100%, 40%);
    --clr-red-soft:hsl(12, 63%, 72%);
    /*--clr-accent-400:hsl(12,88%,59%);
    --clr-accent-400:hsl(12,88%,59%);*/

    --ff-primary: "Sofia", sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);
}
/*remove default margin*/
*{
    margin: 0;
    padding: 0;
    font:inherit;
    color:white;
}

html, body{
    height: 100%;
}

html:focus-within{
    scroll-behavior: smooth;

}

.bg-red {
    background-color: var(--clr-red);
  }

.footer-background {
    margin-top: 0;
    /*background-color: transparent;*/
    background-color: var(--clr-red);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: end;
  }
.footer-background p{
    padding: 10px;
    margin: 0;
    color: white;
}

.white{
    color:white !important;
    border:none !important;
}

.white:hover{
    background-color: hsl(12, 69%, 53%) !important;
}

.kontejner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.clanek{
    min-height: 300px;
    min-width: 300px;
    border-radius: 25%;
    background-color: var(--clr-red-soft);
    flex-basis: 20%;
}

.clanekNadpis{
    text-align: center;
}

.clanekInfo{
    text-align: center;
}

.login{
    height: 80vh;
    border-radius: 25px;
    background-color: var(--clr-red);
}

.inputLogin{
    height: 50px;
    border-radius: 25px;
    width: 90%;
}

.headingLogin{
    background-color: white;
    color:var(--clr-red);
    border-radius: 250px;
}

.form-group { 
    text-align: center; 
}
